@import "styles.css";

html {
    overflow: auto;
}

body {
    background-color:#252525;
    margin: 0%;
    padding: 0;
    height: 100%;
    border: none;
    justify-content: center;
    display: flex;
}

iframe {
    display: block;
    width: 98%;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 4%;
    
}

@media only screen  and (max-width : 960px) {
    iframe {
        margin-top: 14%;
    }
}

@media only screen  and (max-width : 540px) {
    iframe {
        margin-top: 20%;
        height: 600px;
    }
}